// BoxOffers.module.scss

@import '../utils/mixinsMobile';
.boxOffers {
  display: flex; // Отображаем коробки в ряд
  justify-content: space-between; // Равномерное распределение коробок
  background-color: transparent; // Цвет фона
  max-width: 100%;
  height: auto;

  @include respond-to(mobile-portrait) {//0px
    flex-direction: column;
    gap: 24px;
     justify-content: center;
                  
            }
            @include respond-to(mobile-landscape) {//480px
              flex-direction: column;
              gap: 24px;
              justify-content: center;
              align-items: center;
                
            }

            @include respond-to(tablet-portrait) {//768px
                justify-content: space-between; 
                flex-direction: row; 
            }

            @include respond-to(large-desktop) {//1600px
              justify-content: space-between; // Равномерное распределение коробок
  background-color: transparent; // Цвет фона
  max-width: 100%;
  height: auto;
  }
}

