.slider {
    width: 100%;
    overflow: hidden;
    position: relative;

    &__list {
        display: flex;
        gap: 38px;
        padding: 0;
        margin: 0;
        list-style: none;
        overflow-x: hidden;
        height: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch; // Добавлено для плавной прокрутки на iOS
    }

    &__item {
        flex: 0 0 calc((100% - 4 * 20px) / 5);
        transition: transform 0.3s ease-in-out;
        scroll-snap-align: center; // Добавлено для привязки слайдов
    }

    &__list::-webkit-scrollbar {
        display: none;
    }

    .btnLeft,
    .btnRight {
        position: absolute;
        top: 200px;
        transform: translateY(-50%);
        background-color: var(--color-300);
        border: 1px solid var(--color-800);
        cursor: pointer;
        z-index: 10;
        line-height: 64px;
        border-radius: 50%;
        width: 64px;
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 480px) {
            display: none;
        }

        &.disabled {
            cursor: not-allowed;
            opacity: 0.5;
        }
    }

    .btnLeft {
        left: 20px;
    }

    .btnRight {
        right: 20px;
    }
}
