// SpecialOffer.module.scss
.specialOffer {
  background-color: #ffe0b2; // Цвет фона специального предложения
  color: #ff6f00; // Цвет текста специального предложения
  padding: 5px; // Внутренние отступы
  border-radius: 4px; // Скругленные углы
  margin-bottom: 10px; // Отступ снизу
}