@import '../utils/mixinsMobile';

.subHero {
    
    background:  url('/assets/hero-subbg.jpeg') center/cover no-repeat;
    height: 24.625rem ;
    height: auto;
    height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

        @include respond-to(mobile-portrait) {//0px
        height: 8.625rem ;
        }
        @include respond-to(mobile-landscape) {//480px
            height: 8.625rem ;
        }
        @include respond-to(tablet-portrait) {//768px
            height: 14.625rem ;
        }
        @include respond-to(tablet-landscape) {//992px
            height: 17.625rem ;
        }
    
    &__inner {
        max-width: 1400px;
    }
}