/* src/app/page.module.css */
.container {
  min-height: 100vh; /* Занимать всю высоту экрана */
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1; /* Занимать всё доступное пространство */
  overflow-x: hidden; /* Предотвратить горизонтальный скролл */
}